.message-container {
    border-radius: 0 0 10px 10px;
    margin: auto; /* Yatayda ortalamak için */
    overflow: hidden;
    position: relative; /* İçerik pozisyonu için */
}

.message-body {
    max-height: 600px; /* Container yüksekliği */
    min-height: 600px; /* Container yüksekliği */
    overflow-y: auto; /* Dikey scrollbar sadece gerektiğinde görüntüler */
    margin-bottom: 55px;
    background-color: #e6e0f5;
}

.message-list {
    padding: 10px;
    margin: 0;
    list-style: none;
}

.message {
    padding: 10px;
    margin: 5px 0;
    clear: both;
    border-radius: 15px;
}
.message.username{
    color:#ff00a9;
    font-weight: bold;
    padding: 0px;
}

.sent-message {
    background-color: #ffffff; /* Sağa gönderilen mesajlar için arka plan rengi */
    float: right;
   
}

.received-message {
    background-color: #ffffff; /* Sola gönderilen mesajlar için arka plan rengi */
    float: left;
}

.message-footer {
    padding: 10px;
    background-color: #f7f7f7;
    position: absolute; /* Footer'ın sabitlenmesi */
    bottom: 0; /* Alttan ayarlama */
    width: 100%; /* Container ile aynı genişlik */
}

.message-footer input[type="text"] {
    width: calc(100% - 30px); /* İnput alanının genişliği */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.message-footer input[type="submit"] {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    cursor: pointer;
}

.title-container
{
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
} 