<h1>Hoşgeldin Adminlerin Admini @User.Identity.Name</h1>

<div>
    <div class="col-md-2">
            <a asp-controller="Admin" asp-action="ListRoom" class="btn bg-primary mb-3">Chatler</a>
            <a asp-controller="Admin" asp-action="ListUser" class="btn bg-primary mb-3">Kullancılar</a>
    </div>
</div>