@using Chatter.Domain.Enums
<nav class="navbar navbar-expand-lg  navbar-toggleable-sm   border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" asp-controller="Room" asp-action="Index">Chatter</a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenuContent" aria-controls="navbarMenuContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse " id="navbarMenuContent">
            <ul class="navbar-nav mr-auto flex-grow-1">
                <li class="nav-item">
                      <a class="nav-link" asp-area="" asp-controller="Room" asp-action="Index">Ana Sayfa </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Chat
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark">
                        <a class="nav-link " asp-area="" asp-controller="Room" asp-action="Index">Bütün Chatler</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link" asp-area="" asp-controller="Room" asp-action="Create">Yeni Chat</a>
                            <a class="nav-link" asp-area="" asp-controller="Room" asp-action="MyRooms">Aktif Chatlerim </a>
                        }
                    </div>
                </li>
                @if (User.IsInRole(ChatPermissionType.Admin.ToString()))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ayarlar
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Menüsü</a>
                        </div>
                    </li>
                }
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (@User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @User.Identity.Name
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a asp-controller="Account" asp-action="Info" class="nav-link ">Profilim</a>
                            <a asp-controller="Account" asp-action="Logout" class="nav-link ">Çıkış yap</a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Login" class="nav-link">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Register" class="nav-link">Kayıt ol</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>